.card1{
    background-color: gray;
    border: solid 1px black;
    min-width:275px;
    max-width: 275px;
    margin: 5px;
    border-radius: 5px;
    
}
.testArea2{
    background-color: gray;
    color: white;
}

.titleFont {
    font-family: 'Permanent Marker', cursive;
    font-size: 29px;
}

.whiteHover:hover {
    border: solid white 1px;
    background-color: white;
}
.cardFont{
    font-family: 'Permanent Marker', cursive; 
}


.repoDeployFlex{
    display: flex;
    justify-content: space-around;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    flex-direction: row;
}
flexWrap{
    display: flex;
    flex-direction: row;
}

.theCol{
    /* border: solid yellow 1px; */
    align-self: center;
}

.background{
    background-color: #424242 ;
    align-items: center;
}