.background{
    background-color: #424242 ;
}

.hrWidth{
    width: 48%;
    background-color:gray;
   
}

h1{
    text-align: center;
    color: white;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
}

.noUnderline {
    text-align: center;
    color: white;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
}
