.background{
    background-color: #424242 ;
    /* height: 600px; */
  
   
    
}

.phoneInfo{
    color:gray;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 10px;
    
}

.rowBorder{
    border: solid black 1px;
    display: flex;
    
}

.colBorder{
    border: solid yellow 1px;
}