
.link{
    margin: 5px;
    font-size: 20px;
   
}

.name{
    font-size: 25px;
}
.codyMargin{
    margin-left: 5em;
    padding-top: 1em;
}
.linkgroup{
 /* border: solid red 1px; */
    margin-right: 5em;
 
}   













