
.link{
    margin: 5px;
   
}
.codyMargin{
    margin-left: 5em;
    padding-top: 1em;
}
.linkgroup{
 /* border: solid red 1px; */
    margin-right: 5em;
 
}   

.fa-css3-alt{
    color: blue;
}

/* style FontAwesome HTML icon */

.fa-html5{
    color: orangered;
}


.fa-js-square{
    color:yellow;
}

.cardHeightOnIndex{
    height: 350px;
}
.copy{
    color: white;
    margin-top: 20px; 
}




